<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mY_fIRST_pAGE</title>
    <script></script>
    <!-- <style>
        *{
            background-color:blueviolet;
        } -->
    </style>
</head>
<body bgcolor="darkgray">
    <div background-color="blueviolet">

        <center><b>~My Profil~</b></center><br>
        <hr>
        <p>Name : Akshat Kuamr</p>
        <p>Aim : _</p>
        <p>Hobby : _</p>
        <p>___| Parents |____</p>
        <p>| Mother :  Neetu |</p>
        <p>| Father :  Satyajeet |</p>
        <p>| ______________ |</p>
        <p>HomeTown : <Address >Bihar , Muzaffarpur</Address></center>
        <br><br><br><hr>
        <center>Credit : •Akshat Kuamr</center>

    </div>
    

    <p></p>
</body>
</html>